@import "tailwindcss";
  
  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #ddd;
  }
  
  .nav-item.active {
    background-color: black;
    color: white;
  }
  